<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建api</title>

</head>
<body>
    
    <h1>创建api</h1>

    <form action="./save" method="post">
        <ul>
            <li>
                链接: <input type="text" name="url">
            </li>
            <li>
                说明: <input type="text" name="desc">
            </li>
            <li>
                请求类型: <select name="method">
                    <option value="GET">GET</option>
                    <option value="POST">POST</option>
                    <option value="PUT">PUT</option>
                    <option value="DELETE">DELETE</option>
                    <option value="ALL">ALL</option>
                </select>
            </li>
            <li>
                延迟: <input type="text" name="delay">
            </li>
            <li>
                返回值类型:
                <select name="dataType">
                    <option value="text">text</option>
                    <option value="json">json</option>
                </select>
            </li>
            <li>
                返回值是否编译:
                <select name="res-tpl">
                    <option value="0">否</option>
                    <option value="1">是</option>
                </select>
            </li>
            <li>
                返回值：
                <textarea name="res" style="width:500px;height:300px;"></textarea>
            </li>
            <li>
                <button type="submit">
                    <span>创建</span>
                </button>
            </li>
        </ul>
    </form>

</body>
</html>