<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改api</title>

</head>
<body>
    
    <h1>修改api</h1>

    <form action="<%=admin_url%>save" method="post">
        <ul id="J-create">
            <li>
                链接: <input type="text" name="url" value="<%=data.url%>">
            </li>
            <li>
                说明: <input type="text" name="desc" value="<%=data.desc%>">
            </li>
            <li>
                分组: <input type="text" name="group" value="<%=data.group%>">
            </li>
            <li>
                请求类型: <select name="method">
                    <option value="GET"<%if(data.method==='GET'){%> selected<%}%>>GET</option>
                    <option value="POST"<%if(data.method==='POST'){%> selected<%}%>>POST</option>
                    <option value="PUT"<%if(data.method==='PUT'){%> selected<%}%>>PUT</option>
                    <option value="DELETE"<%if(data.method==='DELETE'){%> selected<%}%>>DELETE</option>
                </select>
            </li>
            <li>
                <dl>
                    <dt style="padding-bottom:20px;">参数 <a href="#" class="J-param-add">添加</a></dt>

                    <%if(data.param_name){%>
                        <%data.param_name.forEach(function(val, index){%>
                            <dd>
                                <input type="text" placeholder="参数名" name="param_name" value="<%=data.param_name[index]%>">
                                <input type="text" placeholder="参数说明" name="param_desc" value="<%=data.param_desc[index]%>">
                                <select name="param_type">
                                    <option value="*"<%if(data.param_type[index]==='*'){%> selected<%}%>>全部类型</option>
                                    <option value="int"<%if(data.param_type[index]==='int'){%> selected<%}%>>int</option>
                                    <option value="boolean"<%if(data.param_type[index]==='boolean'){%> selected<%}%>>boolean</option>
                                    <option value="string"<%if(data.param_type[index]==='string'){%> selected<%}%>>string</option>
                                </select>
                                <select name="param_required">
                                    <option value="0"<%if(data.param_required[index]==='0'){%> selected<%}%>>否</option>
                                    <option value="1"<%if(data.param_required[index]==='1'){%> selected<%}%>>是</option>
                                </select>

                                <a href="#" class="J-param-del">删除</a>
                            </dd>
                        <%});%>
                    <%}%>
                </dl>
            </li>
            <li>
                延迟: <input type="text" name="delay" value="<%=data.delay%>">
            </li>
            <li>
                返回值类型:
                <select name="dataType">
                    <option value="text"<%if(data.dataType==='text'){%> selected<%}%>>text</option>
                    <option value="json"<%if(data.dataType==='json'){%> selected<%}%>>json</option>
                </select>
            </li>
            <li>
                返回值是否编译:
                <select name="res-tpl">
                    <option value="0"<%if(data['res-tpl']==='0'){%> selected<%}%>>否</option>
                    <option value="1"<%if(data['res-tpl']==='1'){%> selected<%}%>>是</option>
                </select>
            </li>
            <li>
                返回值：
                <textarea name="res" style="width:500px;height:300px;"><%=data.res%></textarea>
            </li>
            <li>
                返回值编译数据：
                <textarea name="resdata" style="width:500px;height:300px;"><%=data.resdata%></textarea>
            </li>
            <li>
                <button type="submit">
                    <span>保存</span>
                </button>
            </li>
        </ul>
    </form>


    <script type="text/javascript" src="http://libs.useso.com/js/jquery/1.11.1-rc2/jquery.min.js"></script>
    <script type="text/template" id="J-param-tpl">
        <dd>
            <input type="text" placeholder="参数名" name="param_name">
            <input type="text" placeholder="参数说明" name="param_desc">
            <select name="param_type">
                <option value="*">全部类型</option>
                <option value="int">int</option>
                <option value="boolean">boolean</option>
                <option value="string">string</option>
            </select>
            <select name="param_required">
                <option value="0">否</option>
                <option value="1">是</option>
            </select>  

            <a href="#" class="J-param-del">删除</a>
        </dd>
    </script>
    <script type="text/javascript">
        (function(){
            $('#J-create').on('click', '.J-param-add', function(){
                $(this).closest('dl').append($('#J-param-tpl').html());
                return false;
            });

            $('#J-create').on('click', '.J-param-del', function(){
                $(this).closest('dd').remove();
                return false;
            });

        })();
    </script>

</body>
</html>