<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>列表</title>

    <style type="text/css">
        #list li{
            height:30px;line-height:30px;
            overflow:hidden;
        }
        .fl{
            float:left;
        }
        .fr{
            float:right;
        }

        ul{
            list-style:none;
        }
    </style>
</head>
<body>
    
    <h1>API列表</h1>
    <p>
        <a href="<%=admin_url%>create">添加</a>
    </p>
    
    <ul id="list">
        <%if(data && data.length){%>
            <%data.forEach(function(val, index){%>
                <li>
                    <div class="fl">
                        <a href="<%=val.url%>" target="_blank"><%=val.url%></a> <%if(val.desc){%>[<%=val.desc%>]<%}%>
                    </div>
                    <div class="fr">
                        <a href="<%=admin_url%>edit/<%=val.uri%>">编辑</a>
                        <a onclick="return confirm('确认删除吗？');" href="<%=admin_url%>del/<%=val.uri%>">删除</a>
                        <a href="<%=doc_url%><%=val.uri%>" target="_blank">文档</a>
                    </div>
                </li>
            <%});%>
        <%}else{%>
            没有数据，先添加吧！
        <%}%>
    </ul>
</body>
</html>